# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:AllowSetSpawnDaytime=true
    B:IncludeMiners=true
    S:OnMorningText=onii-chan okiteeee >w<
    S:OnSleepText=wa ima neteiru.
    S:OnWakeText=wa beddo o hanareta.
    I:SleeperPerc=66
}


